div.calendar-wrapper {
  display:flex;
  overflow-x:auto;
}

div.react-calendar {
  min-width: 300px;
  width: 350px;
  max-width: 350px;
}

div.calendar-page {
  display:flex;
  width:350px;
  min-width:300px;
  max-width:350px;
  height:272px;
  flex-direction:column;
  align-items:center;
  resize:none;
  padding-left: 10px;
  padding-right: 10px;
}

textarea.calendar {
  box-sizing: border-box;
  width:100%;
  height:100%;
  resize:none;
}

div.calendar-events {
  display:flex;
  width:350px;
  min-width:300px;
  flex: 1 1 350px;
  height:272px;
  flex-direction:column;
  align-items:center;
  resize:none;
  overflow-y:scroll;
}

@media screen and (max-width: 900px) {
  div.calendar-wrapper {
      flex-direction:column;
      align-items:center;
  }
  
  div.react-calendar {
      order: 3;
  }
  
  div.calendar-page {
      order: 2;
      margin-bottom: 10px;
  }
  
  div.calendar-events {
      order: 1;
      max-width: 100%;
      width: 100%;
      flex-basis:content;
      height:fit-content;
      overflow-y:scroll;
  }
}

div.calendar-events-header {
  width:100%;
}

button.event-prev-day {
  max-width:fit-content;
  min-width:fit-content;
  float:left;
}

button.event-next-day {
  max-width:fit-content;
  min-width:fit-content;
  float:right;
}

div.calendar-event {
  width:100%;
  display:flex;
  height:24px;
}

input.calendar-event {
  width:100%;
}

input.calendar-event.invalid {
  color:red;
}

input.calendar-event.active {
  color:green;
}

input.calendar-event.finished {
  color:purple;
}

input.calendar-event-time {
  min-width:97px;
  max-width:97px;
}

button.calendar-event-delete {
  min-width:102px;
  max-width:102px;
}

input.calendar-event-recur {
  min-width:30px;
  max-width:30px;
}

button.event {
  max-width: 65px;
  min-width: 65px;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
}

button.event.open {
  border-style: inset;
}

div.event-detail {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
}

textarea.event-detail-comment {
  width:100%;
  box-sizing: border-box;
  height:62px;
  resize:vertical;
}

div.event-detail-buttons {
  width:100%;
}

button.event-detail-button {
  width:30%;
  min-width: fit-content;
}

button.event-create {
  font-size: x-large;
  width: 30%;
  margin: 5px;
}