div.game-wrapper {
  border:thick solid red;
  width:400px;
  height:600px;
  margin:auto;
  overflow:hidden;
  background-color:black;
  position: relative;
  perspective: 500px;
  perspective-origin: top left;
}

div.game-background-wrapper {
  transform-origin: top left;
  transform-style: preserve-3d;
  transform: rotateX(45deg);
  border:thick solid purple;
  width:fit-content;
  height:fit-content;
  background-color:purple;
  z-index:-100;
}

rect.world-display {
  stroke:blue;
  stroke-width: 4px;
  fill:green;
}

rect.world-display-water {
  stroke:blue;
  stroke-width: 2px;
  fill:aqua;
}

div.game-foreground-wrapper {
  width:400px;
  height:600px;
  border:thick solid orange;
  z-index:100;
  position:absolute;
  top:0;
}

use.castle {
  stroke-width:4px;
  stroke:darkslategrey;
  fill:slategrey;
}

use.mine {
  stroke-width:4px;
  stroke:rgb(84, 42, 12);
  fill:sienna;
}

use.player {
  stroke-width:4px;
  stroke:orange;
  fill:none;
  /* timing-function | iteration-count | direction | fill-mode | play-state | duration | delay | name */
  animation:ease-in infinite alternate none running 0.3s 0s jumping;
}

@keyframes jumping {
  from {
    transform:translate(0px, 0px)
  }

  to {
    transform:translate(0px, 10px)
  }
}