div.program-wrapper {
  margin: var(--margin) auto;
  padding: var(--margin);
  border: thin solid black;
  width: fit-content;
}

textarea.program-text {
  width: 600px;
  height: 10cm;
}

button.program-run {
  margin: var(--margin) auto;
}

div.program-output {
  background-color: field;
  border: thin solid rgb(118, 118, 118);
  padding: 2px;
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}