div.calendar-wrapper {
    display:flex;
    margin-left:10px;
    overflow-x:auto;
}

div.calendar-page {
    display:flex;
    width:350px;
    min-width:200px;
    height:272px;
    flex-direction:column;
    align-items:center;
    resize:none;
}

textarea.calendar {
    width:95%;
    height:95%;
    resize:none;
}

div.calendar-events {
    display:flex;
    width:350px;
    min-width:200px;
    height:272px;
    flex-direction:column;
    align-items:center;
    resize:none;
    overflow-y:scroll;
}

div.calendar-event {
    width:95%;
    display:flex;
}

input.calendar-event {
    width:100%;
}

input.calendar-event.invalid {
    color:red;
}

input.calendar-event.inactive {
    color:green;
}

input.calendar-event.finished {
    color:purple;
}

input.calendar-event.active {
    color:rgb(211, 116, 0);
}

button.norm-day {
    background:none;
}

button.norm-day-selected,
button.busy-day-selected {
    background:#006edc;
    color:white;
}

button.norm-day:enabled:hover {
    background:#e6e6e6;
}

button.norm-day-selected:enabled:hover,
button.busy-day-selected:enabled:hover {
    background:#0a59a9;
    color:white;
}

button.norm-tod {
    background:#ffff76;
}

button.norm-tod-selected,
button.busy-tod-selected {
    background:#606013;
    color:white;
}

button.norm-tod:enabled:hover {
    background:#ffffa9;
}

button.norm-tod-selected:enabled:hover,
button.busy-tod-selected:enabled:hover {
    background:#41410c;
    color:white;
}

button.busy-day {
    background:purple;
}

button.busy-day:enabled:hover {
    background:rgb(76, 0, 76);
}

button.busy-tod {
    background:orange;
}

button.busy-tod:enabled:hover {
    background:rgb(155, 101, 0);
}
