textarea.calendar {
    width:350px;
    height:272px;
    resize:horizontal;
}

div.calendar-wrapper {
    display:flex;
    margin-left:10px;
}

.normal-day {
    background:none;
}

button.busy-day {
    background:purple;
}

button.busy-today {
    background:orange;
}
