button.schedule {
  color: black;
  /*border-style: outset;*/
}

button.schedule.open {
  border-style: inset;
}

div.schedule-detail {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:95%;
}

textarea.schedule-detail-comment {
  width:98%;
  height:62px;
  resize:vertical;
}

div.schedule-detail-buttons {
  width:100%;
}

button.schedule-detail-button {
  width:30%;
}